################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/programming-tests/v16
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-InsertAtEnd/Debug
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-MultiInsert/Debug
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Remove/Debug
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/.vs/LinkedLists/v16
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists-Original/Debug
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/vc142.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/vc142.idb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLists-Original.vcxproj.FileListAbsolute.txt
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLists-Original.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLists-Original.Build.CppClean.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedList-Original.vcxproj.FileListAbsolute.txt
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedList-Original.obj
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedList-Original.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedList-Original.Build.CppClean.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/LinkedLists-Original.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/LinkedList-Original.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/link.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/link.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/link.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/CL.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/CL.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/Debug/LinkedLi.E780A3E5.tlog/CL.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Remove.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Remove.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Remove.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Original.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Original.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Original.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-MultiInsert.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-MultiInsert.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-MultiInsert.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-InsertAtEnd.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-InsertAtEnd.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-InsertAtEnd.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/LinkedList-Original.vcxproj.user
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Original/LinkedList-Original.vcxproj.filters
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.vcxproj.FileListAbsolute.txt
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/LinkedList-ABC.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/link.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/link.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/link.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/CL.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/CL.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.tlog/CL.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.obj
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/LinkedList-ABC.Build.CppClean.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/vc142.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-ABC/Debug/vc142.idb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/vc142.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/vc142.idb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.vcxproj.FileListAbsolute.txt
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/LinkedList-Class.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/link.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/link.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/link.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/CL.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/CL.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.tlog/CL.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.obj
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Class/Debug/LinkedList-Class.Build.CppClean.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/vc142.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/vc142.idb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/LinkedList-FIFO.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/link.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/link.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/link.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/CL.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/CL.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.tlog/CL.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.obj
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-FIFO/Debug/LinkedList-FIFO.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/SortedLinkedList.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/SortedLinkedList.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/SortedLinkedList.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Template.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Template.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Template.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Sorted.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Sorted.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Sorted.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-FIFO.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-FIFO.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-FIFO.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Class.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Class.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-Class.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-ABC.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-ABC.ilk
/LinkedLists/C-plus-plus/LinkedLists/LinkedLists/Debug/LinkedList-ABC.exe
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/vc142.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/vc142.idb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedList-Sorted.vcxproj.FileListAbsolute.txt
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedList-Sorted.obj
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedList-Sorted.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedList-Sorted.Build.CppClean.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/LinkedList-Sorted.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/link.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/link.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/link.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/CL.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/CL.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Sorted/Debug/LinkedLi.ACE47F6D.tlog/CL.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/vc142.pdb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/vc142.idb
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedList-Template.obj
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedList-Template.log
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/LinkedList-Template.lastbuildstate
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/link.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/link.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/link.command.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/CL.write.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/CL.read.1.tlog
/LinkedLists/C-plus-plus/LinkedLists/LinkedList-Template/Debug/LinkedLi.9E73A259.tlog/CL.command.1.tlog
